<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ASAP Locksmith</title>

 	<!-- Icons -->
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 	<!--JQuery Library-->
 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<!--Bootstrap CSS-->
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Personal CSS style -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
	<!--Fonts-->
 	<link href="https://fonts.googleapis.com/css?family=Buda:300|Nixie+One|Quicksand|Rosarivo|Rubik+Mono+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Candal|Passion+One|Poppins|Russo+One|Libre+Franklin" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kumar+One+Outline|Lobster+Two" rel="stylesheet">

 	<!--Moment JS file-->
 	<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>

</head>

<body>

<!--Navigation Bar-->
  <nav class="navbar  navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
     </div>

    

		{{{ body }}}

		<!--Footer-->
		<footer class="footer">
			<p class="footer-text">
				In need of a locksmith in Houston?
				<br />
				<i class="fa fa-phone" aria-hidden="true"></i> Call Now: 832-404-0102
			</p>
			<div class="container icon-container">
				<i class="fa fa-map-marker" aria-hidden="true"><h5 class="address">14520 Memorial Dr #68, Houston, TX 77079</h5></i>
				<i class="fa fa-envelope" aria-hidden="true"><h5 class="address">ASAPLOCSKMITH@ICLOUD.COM</h5></i>
			</div>
			<div class="container-fluid second-footer-container">
				<p class="text-muted-two">
					Copyright &#169; ASAP Locksmith
				</p>
			</div>
		</footer>

    <script src="/js/script.js"></script>
		<script src="/js/home.js"></script>
</body>

</html>
